@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

$dark: #000000;
$light: #ffffff;
$gray: #f5f5f5;
$accent-color: #4062ff;
$main-font: "Montserrat", sans-serif; ;
