@import "../media";
@import "../vars";

.header {
  padding: 40px 0;
  &__wrapper {
    display: flex;
    justify-content: flex-end;
  }
}

.main {
  &__wrapper {
    min-height: 100vh;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__video {
    position: relative;
    padding: 0 30px;
    width: 100%;
    overflow: hidden;

    button {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 100px;
      height: 100px;
      border-radius: 50%;
      background: $accent-color;

      display: flex;
      align-items: center;
      justify-content: center;

      span {
        width: 40px;
        height: 40px;
        svg {
          height: 100%;
          width: 100%;
        }
      }
    }
  }

  video {
    width: 100%;
    z-index: -1;
  }
}
